@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  font-family: Raleway, sans-serif;
  background-color: #f6f6f6;
}

#main {
  width: 600px;
  height: 550px;
  margin: 50px auto 0;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

hr {
  border-color: aliceblue;
}

h2, h3 {
  margin-bottom: 0;
}

ol, ul {
  text-align: left;
}

ol li, ul li {
  margin: 5px 0;
}

li li {
    color: #444;
}

#main ol {
  margin: 20px 30px;
}

#info ul {
  font-size: 14px;
  padding-right: 10px;
}

#submit {
    margin-top: 15px;
}

.content {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 3px;
}

.box {
  border: gray 1px solid;
  width: 80%;
  margin: 10px auto;
  overflow: auto;
  display: flex;
  align-items: center;
}

.box input {
  margin-left: 20px;
}

.left {
  width: 40%;
  float: left;
  border-right: gray 1px solid;
}

.left, .highlight {
  background-color: aliceblue;
}

.footnote {
  font-size: 12px;
  font-style: italic;
}

.error {
  color: red;
}

.hidden {
  display: none;
}

/* Results */

#tabs {
  text-align: left;
}

.button {
  display: inline-block;
  padding: 5px;
  background-color: #eee;
  color: black;
  transition: color 0.2s ease;
  transition-property: background-color, color;
  cursor: pointer;
}

.button.active{
  background-color: #485F6E;
  color: white;
}

.tab {
  display: none;
  padding: 10px 0;
}

.tab.active {
  display: block;
}

.wrapper {
  width: 1350px;
  margin: 0 auto;
  text-align: center;
}

#results {
  width: 850px;
}

#info {
  width: 400px;
}

#results, #info {
  display: inline-block;
  vertical-align: middle;
  margin: 25px 20px 0;
}

/* MSA */

.scroll-wrapper {
  max-height: 80vh;
  overflow: scroll;
  position: relative;
  background-color: white;
}

#msa table {
  font-size: 12px;
  text-align: center;
  border-spacing: 0;
  font-family: "Courier New", serif;
}

#msa table td {
    padding: 0;
}

#msa table tr td:nth-child(1) {
  position: sticky;
  left: 0;
  border-right: 1px solid #444;
  background-color: white;
  text-align: left;
  padding-right: 5px;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-size: 11px;
  white-space: nowrap;
}

#msa table tr td:nth-child(2) {
  padding-left: 5px;
}

#msa table tr td:last-child {
  padding-right: 5px;
}

#msa table tr:nth-last-child(1) td {
  position: sticky;
  bottom: 0;
  background-color: white;
}

#msa table tr:nth-last-child(2) td {
  position: sticky;
  bottom: 14px;
  border-top: 1px solid #444;
  background-color: white;
}

/* Phylotree */

#phylotree .scroll-wrapper {
  overflow-x: hidden;
}

svg {
  display: block;
  margin: auto;
}

svg text {
  font-size: 11px;
}

/* Colors */

.basic {
  color: darkorange;
  fill: darkorange;
}

.related {
  color: cornflowerblue;
  fill: cornflowerblue;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.magenta {
  color: magenta;
}

.green {
  color: green;
}
